
/* Testimonials */

.testimonials {
    background-image: url(../img/man-hat.jpg);
    @include background-picture ();
    min-height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;

.testimonials__container {
    display: flex;
    align-items: center;
    justify-content: center; 
    flex-wrap: wrap;
}

.testimonials__box {
    width: 66.8rem;
    height: 28.45rem;
    padding: 0 3rem;
    color: $white-color;
    background-color: #333333;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.testimonials__pic {
    background-size: cover;
    height: 28.45rem;
}

.testimonials__quote {
    font-family: $main-font;
    font-style: normal;
    font-weight: normal;
    font-size: 1.6rem;
    line-height: $main-line-height;
    color: #E8E8E8;
}

.fas.fa-quote-left {
    font-size: 3rem;
    color: $blueish-color;
    margin-right: 1rem; 
}

.sam {
    font-family: $main-font;
    font-style: normal;
    font-weight: normal;
    font-size: 2rem;
    line-height: $main-line-height;
    color: #FEFEFE;
}
}